<?xml version="1.0"?>
<config>
    <modules>
        <BlueCom_BrandExample>
            <version>0.0.2</version>
        </BlueCom_BrandExample>
    </modules>
    <global>
        <blocks>
            <bluecom_brandexample>
                <class>BlueCom_BrandExample_Block</class>
            </bluecom_brandexample>
        </blocks>
        <helpers>
            <bluecom_brandexample>
                <class>BlueCom_BrandExample_Helper</class>
            </bluecom_brandexample>
        </helpers>
        <models>
            <bluecom_brandexample>
                <class>BlueCom_BrandExample_Model</class>
            </bluecom_brandexample>
        </models>
        <resources>
            <bluecom_brandexample_setup>
                <setup>
                    <module>BlueCom_BrandExample</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bluecom_brandexample_setup>
        </resources>
    </global>
    <frontend>

        <layout>
            <updates>
                <bluecom_brandexample>
                    <file>bluecom_brandexample.xml</file>
                </bluecom_brandexample>
            </updates>
        </layout>
        <routers>
            <bluecom_brandexample>
                <use>standard</use>
                <args>
                    <module>BlueCom_BrandExample</module>
                    <frontName>brand</frontName>
                </args>
            </bluecom_brandexample>
        </routers>
    </frontend>
</config>