<config>
    <modules>
        <SmashingMagazine_BrandDirectory>
            <version>0.0.2</version>
        </SmashingMagazine_BrandDirectory>
    </modules>

    <global>

        <blocks>
            <smashingmagazine_branddirectory_adminhtml>
                <class>SmashingMagazine_BrandDirectory_Block_Adminhtml</class>
            </smashingmagazine_branddirectory_adminhtml>
        </blocks>

        <helpers>
            <smashingmagazine_branddirectory>
                <class>SmashingMagazine_BrandDirectory_Helper</class>
            </smashingmagazine_branddirectory>
        </helpers>

        <models>
            <smashingmagazine_branddirectory>
                <class>SmashingMagazine_BrandDirectory_Model</class>
                <resourceModel>smashingmagazine_branddirectory_resource</resourceModel>
            </smashingmagazine_branddirectory>

            <smashingmagazine_branddirectory_resource>
                <class>SmashingMagazine_BrandDirectory_Model_Resource</class>
                <entities>
                    <brand>
                        <table>smashingmagazine_branddirectory_brand</table>
                    </brand>
                </entities>
            </smashingmagazine_branddirectory_resource>
        </models>

        <resources>
            <smashingmagazine_branddirectory_setup>
                <setup>
                    <module>SmashingMagazine_BrandDirectory</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>
            </smashingmagazine_branddirectory_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <smashingmagazine_branddirectory_admin>
                <use>admin</use>
                <args>
                    <module>SmashingMagazine_BrandDirectory_Adminhtml</module>
                    <frontName>brand_directory_admin</frontName>
                </args>
            </smashingmagazine_branddirectory_admin>
        </routers>
    </admin>
</config>