<config>
    <modules>
        <BlueCom_BrandDirectory>
            <version>0.0.2</version>
        </BlueCom_BrandDirectory>
    </modules>

    <global>

        <blocks>
            <bluecom_branddirectory_adminhtml>
                <class>BlueCom_BrandDirectory_Block_Adminhtml</class>
            </bluecom_branddirectory_adminhtml>
        </blocks>

        <helpers>
            <bluecom_branddirectory>
                <class>BlueCom_BrandDirectory_Helper</class>
            </bluecom_branddirectory>
        </helpers>

        <models>
            <bluecom_branddirectory>
                <class>BlueCom_BrandDirectory_Model</class>
                <resourceModel>bluecom_branddirectory_resource</resourceModel>
            </bluecom_branddirectory>

            <bluecom_branddirectory_resource>
                <class>BlueCom_BrandDirectory_Model_Resource</class>
                <entities>
                    <brand>
                        <table>bluecom_branddirectory_brand</table>
                    </brand>
                </entities>
            </bluecom_branddirectory_resource>

        </models>

        <resources>
            <bluecom_branddirectory_setup>
                <setup>
                    <module>BlueCom_BrandDirectory</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>
            </bluecom_branddirectory_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <bluecom_branddirectory_admin>
                <use>admin</use>
                <args>
                    <module>BlueCom_BrandDirectory_Adminhtml</module>
                    <frontName>brand_directory_admin</frontName>
                </args>
            </bluecom_branddirectory_admin>
        </routers>
    </admin>
</config>